
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:poppins;
}


.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row_column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    
}
nav{
    width: 100%;
    padding:20px;
    background-color: rgb(174, 172, 172);
    text-align: center;
}
nav .side_bar{
    background-color: black;
    width: 250px;
    padding: 30px;
    height: 100vh;
    top: 0;
    left: 0;
    left: -250px;
   color:white;
   position:absolute;
   transition: all 0.5s ease-in-out;
   z-index: 100;
}

nav .side_bar_visible{
    left: 0;
}


.side_bar .cross{
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
}
.side_bar ul{
    list-style: none;
    margin-top: 30px;
}
.side_bar ul li{
    margin-top: 7px;
}
.container{
    width: 80%;
    margin: 0 auto;
    
}
i{
    font-size: 30px;
    cursor: pointer;
}
main{
    width: 100%;
    padding: 80px 0;
}

.text_content{

width: 60%;
   
}

 span{
    color: rgb(246, 137, 155);
}
 h1{
    margin-bottom: 30px;
    width: 100%;
    max-width: 407px;
    font-size: 3rem;
    font-weight: 700;
      line-height: 1.3;
      word-spacing: 6px;

}

.text_content .first{
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  margin-bottom: 25px ;
  width: 85%;
}
.text_content .second{
    font-size: 1rem;
    margin: 25px 0;
    width: 80%;
    
}
.image_content_main{
    position: relative;
    /* border: 2px solid black; */
 
}

.image_content {
position: absolute;
left: 0;
top: 0;
    width: 480px;
    height: 480px;
  border-radius:50%;
  background-image: url(pexels---7810767.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: move 2s ease-out forwards ;
 
 
}

@keyframes move {
    from{
        transform: rotate();
       opacity: 0;
       left: 100%;
       top: 0;
   }

   to{
       transform: translatex(-50%) rotate(360deg);
       opacity: 1;
       top:0;
      left: 50%;
                   
   }
    
}
.read_more{
    padding: 20px 30px;
    background-color: #f48396;
    color: white;
    font-size: .8rem;
    letter-spacing: 1px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
.read_more:hover{
    background-color: black;
    color: white;
}

.section_two{
    background-color: #d196f9;
    padding: 50px 0;
    color: white;
}

.section_two p{
    font-size: 1rem;
    font-weight: 200;
    width: 100%;
    max-width: 850px;
    margin-bottom: 25px;
}
.read_more_white{
    background-color: white;
    color: black;
    padding: 15px 30px;
}
.section_three{
    padding: 50px 0;
    background-color: #f9f3f5;
}
.grid_elem{
    display: flex;
    padding:40px 30px 60px 30px;
    background-color: white;
   justify-content: center;
    align-items: flex-start;
   gap: 30px;
}
.grid_elem .grid_content{
   width: 70%; 
}
.grid_content h3{
    font-size: larger;
   margin-bottom: 18px;
   font-weight: 700;
}
.grid_content p{
    font-weight: 350;
}

.icon{
    background-color:#ee99a7;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
}
.icon svg{
    width: 40px;
}
.section_four{
    padding:110px 0;

}
.section_four .container{
    flex-direction: row;
    justify-content: space-between;
}

.image_content_main{
    width: 50%;
    height: 474px;
   
    
    
}
.multiple_image_content{
   position: relative;
   width: 100%;
    height: 100%;
    animation: animateimg 2s ease-out;
    gap: 29px;
    display: grid;
    row-gap: 32px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;


}

@keyframes animateimg {
    0%{
        left: -130%;
        opacity: 0;
    }
    100%{
        left: 0%;
        opacity: 1;
       
    }
}
 .multiple_image_content .multi_images{
   animation: rot 2s ease-out;
 width: 220px;
 height: 220px;
 border-radius: 50%;

}
@keyframes rot {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
       
    }
}

.multi_images_one{
    margin-left: auto;
     animation: one 3s linear forwards;
    background-image: url("https://assets.nicepagecdn.com/11a8ddce/3214929/images/9937218_4308977.jpg");
    background-position: center;
    background-size: cover;
}

.multi_images_two{
   
    background-image: url("https://assets.nicepagecdn.com/11a8ddce/3214929/images/9937218_430998977.jpg");
    background-position: center;
    background-size: cover;
}

.multi_images_three{
    margin-left: auto;
    background-image: url("https://assets.nicepagecdn.com/11a8ddce/3214929/images/993337218_4308977.jpg");
    background-position: center;
    background-size: cover;
}

.multi_images_four{
   
    background-image: url("https://assets.nicepagecdn.com/11a8ddce/3214929/images/9937218_43608977.jpg");
    background-size: cover;
}

.pink_box{
    width: 100;
    padding: 100px;
    background-color: #f78fb4;
}

.section_four .second{
    width: 100%;
}
.section_four .text_content{
    width: 52%;
    padding-left: 60px;
}
.section_five .row_column{
  background-color: white;
  position: relative;
  top: -60px;
    row-gap: 100px;
}
.chef{
    padding: 0 25px;
    position: relative;
    gap: 50px;
  
   
}
.chef p{
    font-weight: 650;
    width: 90%;
    font-size: 1.25rem;
    line-height: 1.5;
    margin:150px 0 35px 0;
}
.chef_img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img_one{
    background-image: url("https://assets.nicepagecdn.com/11a8ddce/3214929/images/fashionable-young-redhead-woman-with-braid-tattoo-shoulder-having-rest-indoors.jpg");
   
}
.img_two{
    background-image: url("https://assets.nicepagecdn.com/11a8ddce/3214929/images/happy-young-cook-uniform-holding-salad.jpg");

}
.img_three{
    background-image: url("https://assets.nicepagecdn.com/11a8ddce/3214929/images/pexels-photo-1036623.jpeg");
}
.img_four{
    background-image: url("https://assets.nicepagecdn.com/11a8ddce/3214929/images/pexels-photo-1684320.jpeg");
}

.chef_icon{
    background-color: rgb(192, 132, 192);
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 28px;
    border-radius: 50%;
}

.form_section{
    padding: 50px 0;
    background-color: rgb(250, 235, 237);
}

label{
    font-size: .94rem;
    font-weight: 400;
}
input,textarea{
    width: 100%;
    border: none;
    font-weight: 400;
    padding: 12px;
    font-size: 1rem;
    color: rgb(13, 13, 13);
    margin-bottom: 10px;
    font-family: poppins;
}

textarea{
    color: rgb(178, 174, 174); 
    font-size: 1rem;
    font-family: poppins;
}
input::placeholder{
    color: rgb(178, 174, 174);
}

footer{
    text-align: center;
    padding: 50px;
    color: white;
    background-color: #333333;
}

footer h5{
    font-weight: 400;
    font-size: .9rem;
    margin-bottom: 70px;
}
footer p{
    font-size: .8rem;
    font-weight: 200;
}



@media (max-width:1200px) {
    .image_content{
        width: 410px;
        height: 410px;
        left: -50px;
    }
    .text_content .first{
        font-size: 1.2rem;

    }
    .text_content .second{
        font-size: .9rem;

    }
    .multiple_image_content{
        gap: 49px;
       row-gap: 50px;
     }
    .multiple_image_content .multi_images{
   
        width: 180px;
        height: 180px;
    }
}

@media (max-width:990px) {
  
  .text_content{
    width: 100%;
  }
 
    .read_more{
        padding: 15px 20px;
    }

    h1{
        font-size: 2.25rem;
    }
    .text_content .first{
        font-size: 1.1rem;

    }
    .text_content .second{
        font-size: .8rem;

    }
    .section_four .container{
        display: block;
    }
   
.section_five .row_column{
  grid-template-rows: repeat(4,1fr);
  grid-template-columns: 1fr;
}
   .image_content_main{
    width: 100%;
    height: 410px;
}
.section_four .text_content{
    width: 100%;
    margin-top: 50px;
    
}
.section_four .second{
 font-size: 1rem;
}
  
.read_more{
    padding: 20px 30px;
}

}

@media (max-width:780px) {
    body{
        text-align: center;
    }
    h1{
       max-width: 100%;
    }
    .row{
       display: block;
    }
    .section_four .text_content{
        padding-left: 0px;
    }
    
    
    .text_content .first{
        font-size: 1.3rem;
        font-weight: 300;
        margin-bottom: 25px ;
        width: 100%;
      }
      .text_content .second{
          font-size: 1rem;
          margin: 25px 0;
          width: 100%;
          
      }
      .text_content{
       margin-bottom: 30px;
        width: 100%;
       
           
        }
       
        .image_content {
           left: 16%;
            /* position:static; */
        
           /* animation: none; */

        }
        
      
        .section_three .row_column{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }

        .grid_elem{
          
            padding:35px 30px 35px 30px;

        }

        form{
            text-align: left;
        }

}

@media (max-width:550px) {
    .container{
        width: 90%;
    }
    main{
        padding: 50px 0;
    }
    .image_content{
        width: 300px;
        height: 300px;
    }
    
    .image_content_main{
        height: 310px;
    }
    .section_four .image_content_main{
        height: inherit;
    }

    .multiple_image_content{
        display: block;
    }
    .multiple_image_content .multi_images{
        margin: auto;
        margin-bottom: 25px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
       }

   .grid_elem{
    display: block;
    text-align: center;
   }
   .icon{
   margin: 21px auto;
   }
  .grid_content{
    margin: auto;
  }  
}